*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #bda7a7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: space-between;
    transition: background-color 2s ease ,color 10s ease;
}

.heading{
    color: rgb(51, 53, 52);
    font-size: 60px;
    justify-self: center;
}

.infoBox{
    display: flex;
    column-gap: 15px;
    width: 500px;
}

.infoText{
    color: #462c2c;
    font-size: 20px;
    width: 1000px;
    justify-self: center;
    word-wrap: break-word;
    /* border: 1px solid black; */
    background-color: rgb(222, 186, 186);
    padding: 15px;
    border-radius: 15px;
}

.theme-btn{
    align-self: flex-end;
    box-sizing: none;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color: #545454;
    color: rgb(221, 221, 221);
    font-size: 15px;
    font-weight: bold;
}


body.dark-mode{
    background-color: #564141;
}

body.dark-mode .heading{
    color: aliceblue;
}


body.dark-mode .infoText{
    color: #b8b8b8;
    background-color: #543c3c;
}


body.dark-mode .theme-btn{
    background-color: #dddddd;
    color: rgb(70, 70, 70);
}